html {
    scrollbar-width: thin;
    scrollbar-color: #4f4cff #a0ade2;
}
body {
    font-family: system-ui, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a0ade2;
    --secondary-color: #888ef2;
    --text-color: #02000f;
    --normal-color: #4f4cff;
    --hover-color: #311cd3;
    max-width: 1320px;
    margin: auto;
  }
  header p {
    color: var(--text-color);
    font-size: 1.2rem;
    text-align: center;
    margin-top: 0;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }
  nav button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 80px;
    &:hover {
      background-color: var(--hover-color);
      transition: background-color 0.3s ease;
      color: #fff
    }
  }
  h1 {
    text-align: center;
    color: var(--text-color);
    font-size: 4rem;
    margin: 0;
  }
  aside {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 80px;
  }
  #search-input {
    padding: 10px;
    font-size: 20px;
    border: 1px solid var(--text-color);
    border-radius: 20px;
    width: 46dvw;
    margin: auto;
    filter: drop-shadow(0 0 0.25rem #4f4cff);
  }
  /* Animación de carga */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.loader div {
  width: 10px;
  height: 10px;
  background-color: var(--text-color);
  border-radius: 50%;
  animation: loader-animation 1.2s infinite ease-in-out;
}

.loader div:nth-child(1) {
  animation-delay: -0.24s;
}

.loader div:nth-child(2) {
  animation-delay: -0.12s;
}

.loader div:nth-child(3) {
  animation-delay: 0;
}

@keyframes loader-animation {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
  #cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: var(--text-color);
    width: 100%;
    justify-content: center;
    margin-top: 120px;
  }

  .card {
    border: 1px solid #69696984;
    border-radius: 8px;
    padding: 16px;
    width: 250px;
    max-height: 190px;
    background-color: var(--secondary-color);
    filter: drop-shadow(0 0 0.25rem #4f4dd2);
    &:hover {
      transition: all 0.3s ease; 
      filter: drop-shadow(0 0 0.5rem #4f4dd2);
  }
}
  .card a {
    text-decoration: none;
    color: var(--text-color);
    &:hover {
      color: var(--hover-color);
      transition: color 0.3s ease;
      text-decoration: underline;
      }
  }
  .card h3 {
    margin: 5px 0;
  }
  .card img {
    aspect-ratio: 1;
    max-width: 32px;
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  footer {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    bottom: 0;
  }
  a {
    color: var(--normal-color);
    &:hover {
      color: var(--hover-color);
      transition: color 0.3s ease;
      text-decoration: underline;
    }
  }
  @media screen and (max-width: 768px) {
    #search-input {
      width: 88%;
      margin: auto;
    }
    header h1 {
      font-size: 3.4rem;
      margin-bottom: 10px;
    }
    header p {
      font-size: 1.2rem;
      width: 80%;
      margin: auto;
      margin-top: 10px;
      box-sizing: border-box;
    }
    .card {
      width: 78%;
    }
  }